.form1{
	
	background-size:300px 300px;
	box-shadow:10px 10px 5px #888888;
	outline:solid #3300cc medium;
	/*background-image:url("../img/fruit.png");*/
	text-align:center;
	margin:5px;
	padding:10px;
	border:medium double black;
	width:800px;
	height:900px;
	left:0;
	right:0;
	top:0;
	margin:auto;
	bottom:0;
	position:absolute;
	border-radius:10px 10px;
	
	
}
.button1{
	background-color:#339900;
	
}
.button2{
	background-color:#ffffcc;
}
.button:hover{
	font-size:x-large;
	background-color:#00ff00;
	-webkit-transition-property:background-color,color,font-size,padding;
	-webkit-transition-delay:100ms;
	-webkit-transition-duration:500ms;
}
.button{
	border-radius:8px 8px;
	font-size:18px;
	-webkit-transition-delay:0ms;
	-webkit-transition-duration:100ms;
	-webkit-transition-timing-function:ease;
	cursor:pointer;
}
#field1{
	border-radius:12px 12px;
	opacity:0.8;			#透明度
}
#fruit_shuoming{
	font-size:20px;
	text-shadow:5px 5px 10px lightgray;
	position:absolute;left:25%;right:25%;bottom:70px;text-align :center;
	border:medium double green;
	border-radius:8px;
	padding:10px;
	#-moz-user-select: none; /*火狐*/
	#-webkit-user-select: none; /*webkit浏览器*/
}
.fruit_illustration:hover{
	background-color:white;
	cursor:wait;
}
body{
	font-family:"KaiTi",sans-serif;
	background-color:#99ccff;
}
#footer1{
	position:absolute;left:25%;right:25%;bottom:30px;text-align :center;
}
div img{
	position:absolute;left:210px;right:200px;bottom:350px;
	width:400px;
	
	#filter: grayscale(100%);
	-webkit-transition-duration:400ms
}
div img:hover{
	transform:scale(1.2);
	-webkit-transition-duration:400ms;
	-webkit-transition-delay:20ms;
}
.apple:hover{
	background-color:red;
	#-webkit-transition-property:background-color,color,font-size,padding;
	#-webkit-transition-delay:100ms;
	#-webkit-transition-duration:500ms;
	#-webkit-animation-delay:100ms;
	#-webkit-animation-duration:2000ms;
	#-webkit-animation-iteration-count:infinite;
	#-webkit-animation-timing-function:linear;
	#-webkit-animation-name:'Grow';
	
}
/*@-webkit-keyframes Grow{
	from{
		font-size:xx-small;
		background-color:yellow;
	}
	to{
		font-size:x-large;
		border:medium solid white;
		background-color:green;
		color:white;
		
	}
}*/
span.apple{
	#-webkit-transition-delay:10ms;
	#-webkit-transition-duration:250ms;
	#-webkit-animation-delay:100ms;
	#-webkit-animation-duration:250ms;
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); 	/* IE 9 */
	-moz-transform:rotate(7deg); 	/* Firefox */
	-webkit-transform:rotate(7deg); /* Safari 和 Chrome*/
	-o-transform:rotate(7deg); 
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
footer{
	background-color:#666666;
	color:white;					/*不是font-color*/
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); 	/* IE 9 */
	-moz-transform:rotate(7deg); 	/* Firefox */
	-webkit-transform:rotate(7deg); /* Safari 和 Chrome */
	-o-transform:rotate(7deg); 
	-moz-transform-duration:500ms;		/*无这个属性*/
	-webkit-transform-duration:500ms;
	border-radius:5px;
}
#name_prove{
	font-size:15px;
	color:red;
	font-weight:bold;
	left:100px;
}
#fruit_prove{
	font-size:15px;
	color:red;
	font-weight:bold;
}
#span001{
	color:red;
}